@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Noto Serif', serif;
}

/* fonts  */
h1{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}
#date{
    font-size: 1.5rem;
    font-weight: normal;
    color: #898989;
}
p, a{
    font-size: 1.5rem;
}
.hero{
    min-height: 100vh;
    width: 100%;
}
.button{
    text-transform: uppercase;
    background: #ff1d68;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 1.2rem;
}
input{
    outline: none;
}
/* Header */
.header{
    min-height: 7vh;
    width: 100%;
    background-color:#ff1d68 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/* Main */
.main{
    width: 50%;
    margin: 0 auto;
    padding: 4rem 0rem;
}

.todays-date{
    border-bottom: 0.1rem solid #898989;
    padding: 0rem 0rem 1.5rem 0rem;
}
/* tasks */
.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* exsiting-task */
.existing-task{
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 0.1rem solid #898989;
}

.display-task{
    width: 100%;
}

.display-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.task-content{
    padding: 2rem 0rem;
    margin-right: 1rem;
}


#edit{
    margin-right: 1rem;
    cursor: pointer;
}

#delete{

    cursor: pointer;
}
/* creating-task */
.creating-task{
    width: 100%;
    padding: 2rem 0rem;
    border-bottom: 0.1rem solid #898989;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task-description{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid #a6a6a6;
    border-radius: 4px;
    padding: 1rem;
}
.task-description input{
    width: 100%;
    border: none;
    padding: 1rem 0rem;
}
.submit-buttons{
    width: 100%;
    padding: 2rem 0rem 0rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* New Task  */
.new-task{
    width: 100%;
    padding: 2rem 0rem;
    border-bottom: 0.1rem solid #898989;
}
.add-new-task{
    cursor: pointer;
}

#plus-sign{
    background:#fff ;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
}

.add-new-task:hover #plus-sign{
    background: #ff1d68;
    color: white;
    
}